site_name: Reos
nav: 
 - Getting started: index.md
 - Theory: 
   - Models:
     - Association: theory/models/association.md

 - Examples:
   - CPA:
     - Water: examples/cpa/water.md


theme:
  
  logo: logo.png
  
  name: material
  
  icon:
    repo: fontawesome/brands/github

  palette:
    scheme: slate
    primary: black

  features:
    - content.code.copy
    - navigation.tabs
    - content.code.annotate

repo_url: https://github.com/Emanukka/reos

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.blocks.caption

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search  